table 
{

	font-size: 12px;

}
body
{
	font-size: 12px;
}

h1
{
	font-size: 20px;	
}
h2
{
	font-size: 16px;	
}

p
{
	font-size: 16px;	
}

#content-body .left h1, #content-body .extra h1
{
	font-size: 16px;		
}

#content-body .left ul li a
{
	font-size: 16px;		
}

#navigation a 
{
	font-size: 12px;
}

#navigation ul a 
{
	font-size: 11px;
}

#navigation ul a:hover, #navigation ul a:active, #navigation ul a.here:link, #navigation ul a.here:visited 
{
	font-size: 11px;
}

#content-body .leftcol h1, #content-body .rightcol h1, #content-body2 .leftcol h1, #content-body2 .rightcol h1
{
	font-size: 11px;
}
.itemTitle a 
{
	font-size: 16px;
}
.comUserStat 
{
font-size: 14px; 
}

.comUserStatus 
{
font-size: 14px;
}

.comUserRankText 
{
font-size: 14px;
}

#ccCol h1
{
font-size: 14px;
}

#clCol h1
{
font-size: 14px;
}

#crCol h1
{
font-size: 14px;
} */